
.header {
  height:64px;
}

.header a {
  height:100%;
  width:64px;
}

header.MuiAppBar-root {
  box-shadow:none;
}


.main {
  min-height:100vh;
  /* background:#56606c; */
  background: #EFEBE6;
} 